<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <main class="container">
          <form th:action="@{/api/accounts/save}" th:object="${account}" method="post" style="margin-top: 100px;">
              <div class="col-5 offset-3">
                  <div class="card">
                      
                      <div class="card-body">
                          <div class="form-group">
                            <input type="text"
                              class="form-control" th:field="*{name}" name="name" id="name" aria-describedby="nameHid" placeholder="Họ Và Tên*">
                            <small id="nameHid" class="form-text text-muted">name is required</small>
                          </div>
                          <div class="form-group">
                            <input type="text"
                              class="form-control" th:field="*{username}" name="username" id="username" aria-describedby="usernameHid" placeholder="Tên đăng nhập*">
                            <small id="usernameHid" class="form-text text-muted">username is required</small>
                          </div>
                          <div class="form-group">
                            <input type="text"
                              class="form-control" th:field="*{email}" name="email" id="email" aria-describedby="emailHid" placeholder="Email*">
                            <small id="emailHid" class="form-text text-muted">email is required</small>
                          </div>
                          <div class="form-group">
                            <input type="password"
                              class="form-control" th:field="*{password}" name="password" id="password" aria-describedby="passwordHid" placeholder="Mật khẩu*">
                            <small id="passwordHid" class="form-text text-muted">password is required</small>
                          </div>
                         
                          <div class="form-group">
                            <input type="password"
                              class="form-control" name="repassword" id="repassword" aria-describedby="repasswordHid" placeholder="Xác nhận lại mật khẩu*">
                            <small id="repasswordHid" class="form-text text-muted">username is required</small>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                              Tôi đã đọc và đồng ý với 
                              <a href="#">điều khoản và điều kiện</a>
                            </label>
                          </div>
                          <button class="btn btn-success mt-3" style="width:100%">Đăng ký   </button>
                      </div>
                      <div class="card-footer text-muted">
                          Bạn đã có tài khoản? <a href="/api/accounts/login">Đăng nhập</a>
                      </div>
                  </div>
              </div>
          </form>
      </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>